/* App.css */
body {
  background-color: #121212;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  letter-spacing: 2px;
  color: #00f7ff;
  text-transform: uppercase;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

button {
  background-color: #00f7ff;
  border: none;
  border-radius: 25px;
  color: #121212;
  font-size: 1.2em;
  padding: 15px 40px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #00a9c9;
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

button:focus {
  outline: none;
}

div {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 190px) and (max-width: 650px){
  div {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
}